In [72]:
from datetime import datetime

import pandas as pd
from datetime import datetime as dt

In [83]:
df = pd.read_csv('data/data.csv')
df.isnull().sum()

symbol              0
utc_end_ts          0
close               0
high                0
low                 0
num_trades          0
total_btc_volume    0
total_usd_volume    0
utc_start_ts        0
dtype: int64

In [84]:
def iso_to_epoch_timestamp(iso_ts):
    return dt.fromisoformat(iso_ts.replace('Z', '+00:00')).timestamp()

In [85]:
df['end_timestamp'] = df['utc_end_ts'].apply(iso_to_epoch_timestamp)
df = df[["symbol","end_timestamp", "close","high","low","num_trades","total_btc_volume","total_usd_volume",]]
df

,symbol,end_timestamp,close,high,low,num_trades,total_btc_volume,total_usd_volume
0,BINANCE:BTCUSDT,1.726301e+09,60138.15,60138.15,60138.14,13,0.09273,5576.609800
1,BINANCE:BTCUSDT,1.726301e+09,60138.14,60138.15,60138.14,45,0.44425,26716.369142
2,BINANCE:BTCUSDT,1.726301e+09,60138.15,60138.15,60138.14,77,0.76544,46032.138895
3,BINANCE:BTCUSDT,1.726301e+09,60138.14,60138.15,60138.14,95,1.02535,61662.644172
4,BINANCE:BTCUSDT,1.726301e+09,60138.04,60138.15,60138.04,139,2.64337,158967.216828
...,...,...,...,...,...,...,...,...
1619,BINANCE:BTCUSDT,1.726317e+09,59788.01,59794.34,59788.01,300,0.75290,45017.326142
1620,BINANCE:BTCUSDT,1.726317e+09,59794.02,59794.34,59788.01,474,1.81502,108519.968615
1621,BINANCE:BTCUSDT,1.726317e+09,59801.93,59801.93,59788.01,625,1.99268,119143.266565
1622,BINANCE:BTCUSDT,1.726317e+09,59801.93,59801.93,59788.01,397,1.45131,86774.235759
1623,BINANCE:BTCUSDT,1.726317e+09,59801.93,59801.93,59794.01,202,0.22309,13339.753782

In [76]:
df["ts"] = pd.to_datetime(df["end_timestamp"], unit='s')
df.set_index("ts", inplace=True)
df

,symbol,end_timestamp,close,high,low,num_trades,total_btc_volume,total_usd_volume
ts,,,,,,,,
2024-09-14 07:59:30,BINANCE:BTCUSDT,1.726301e+09,60138.15,60138.15,60138.14,13,0.09273,5576.609800
2024-09-14 07:59:40,BINANCE:BTCUSDT,1.726301e+09,60138.14,60138.15,60138.14,45,0.44425,26716.369142
2024-09-14 07:59:50,BINANCE:BTCUSDT,1.726301e+09,60138.15,60138.15,60138.14,77,0.76544,46032.138895
2024-09-14 08:00:00,BINANCE:BTCUSDT,1.726301e+09,60138.14,60138.15,60138.14,95,1.02535,61662.644172
2024-09-14 08:00:10,BINANCE:BTCUSDT,1.726301e+09,60138.04,60138.15,60138.04,139,2.64337,158967.216828
...,...,...,...,...,...,...,...,...
2024-09-14 12:33:50,BINANCE:BTCUSDT,1.726317e+09,59788.01,59794.34,59788.01,300,0.75290,45017.326142
2024-09-14 12:34:00,BINANCE:BTCUSDT,1.726317e+09,59794.02,59794.34,59788.01,474,1.81502,108519.968615
2024-09-14 12:34:10,BINANCE:BTCUSDT,1.726317e+09,59801.93,59801.93,59788.01,625,1.99268,119143.266565
2024-09-14 12:34:20,BINANCE:BTCUSDT,1.726317e+09,59801.93,59801.93,59788.01,397,1.45131,86774.235759
2024-09-14 12:34:30,BINANCE:BTCUSDT,1.726317e+09,59801.93,59801.93,59794.01,202,0.22309,13339.753782

In [77]:
full_index = pd.date_range(start=df.index.min(), end=df.index.max(), freq='10s')
df = df.reindex(full_index)

In [78]:
df.isnull().sum()

symbol              27
end_timestamp       27
close               27
high                27
low                 27
num_trades          27
total_btc_volume    27
total_usd_volume    27
dtype: int64

In [79]:
df.drop(columns=["end_timestamp", "symbol"], inplace=True)
df

,close,high,low,num_trades,total_btc_volume,total_usd_volume
2024-09-14 07:59:30,60138.15,60138.15,60138.14,13.0,0.09273,5576.609800
2024-09-14 07:59:40,60138.14,60138.15,60138.14,45.0,0.44425,26716.369142
2024-09-14 07:59:50,60138.15,60138.15,60138.14,77.0,0.76544,46032.138895
2024-09-14 08:00:00,60138.14,60138.15,60138.14,95.0,1.02535,61662.644172
2024-09-14 08:00:10,60138.04,60138.15,60138.04,139.0,2.64337,158967.216828
...,...,...,...,...,...,...
2024-09-14 12:33:50,59788.01,59794.34,59788.01,300.0,0.75290,45017.326142
2024-09-14 12:34:00,59794.02,59794.34,59788.01,474.0,1.81502,108519.968615
2024-09-14 12:34:10,59801.93,59801.93,59788.01,625.0,1.99268,119143.266565
2024-09-14 12:34:20,59801.93,59801.93,59788.01,397.0,1.45131,86774.235759
2024-09-14 12:34:30,59801.93,59801.93,59794.01,202.0,0.22309,13339.753782

In [80]:
df["close"].interpolate(inplace=True)
df["high"].interpolate(inplace=True)
df["low"].interpolate(inplace=True)
df["num_trades"].ffill(inplace=True)
df["total_btc_volume"].interpolate(inplace=True)
df["total_usd_volume"].interpolate(inplace=True)
df

/tmp/ipykernel_2477942/3228456420.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["close"].interpolate(inplace=True)
/tmp/ipykernel_2477942/3228456420.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["high"].interpolate(inplace=True)
/tmp/ipykernel_2477942/3228456420.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["low"].interpolate(inplace=True)
/tmp/ipykernel_2477942/3228456420.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["num_trades"].ffill(inplace=True)
/tmp/ipykernel_2477942/3228456420.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["total_btc_volume"].interpolate(inplace=True)
/tmp/ipykernel_2477942/3228456420.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["total_usd_volume"].interpolate(inplace=True)

,close,high,low,num_trades,total_btc_volume,total_usd_volume
2024-09-14 07:59:30,60138.15,60138.15,60138.14,13.0,0.09273,5576.609800
2024-09-14 07:59:40,60138.14,60138.15,60138.14,45.0,0.44425,26716.369142
2024-09-14 07:59:50,60138.15,60138.15,60138.14,77.0,0.76544,46032.138895
2024-09-14 08:00:00,60138.14,60138.15,60138.14,95.0,1.02535,61662.644172
2024-09-14 08:00:10,60138.04,60138.15,60138.04,139.0,2.64337,158967.216828
...,...,...,...,...,...,...
2024-09-14 12:33:50,59788.01,59794.34,59788.01,300.0,0.75290,45017.326142
2024-09-14 12:34:00,59794.02,59794.34,59788.01,474.0,1.81502,108519.968615
2024-09-14 12:34:10,59801.93,59801.93,59788.01,625.0,1.99268,119143.266565
2024-09-14 12:34:20,59801.93,59801.93,59788.01,397.0,1.45131,86774.235759
2024-09-14 12:34:30,59801.93,59801.93,59794.01,202.0,0.22309,13339.753782

In [81]:
df.isnull().sum()

close               0
high                0
low                 0
num_trades          0
total_btc_volume    0
total_usd_volume    0
dtype: int64

In [82]:
df.to_csv("data/features_cleaned.csv", index=False)